// Main 
/* Tablet */
@media(max-width: 1199px) {

    .header {
        height: 591px;
    }

    .header-top {
        width: 100%;
        padding: 0 15px;
    }

    .header-content {
        width: 900px;
        padding: 0 15px;
    }

    .header-nav-list {
        display: none;
    }

    .header-nav-button {
        display: block;
    }

    .header-title {
        font-size: 52px;
    }

    .header-scroll {
        font-size: 0;
    }

    /* Main */
    .main {
        padding: 80px 0;
    }

    .main-row {
        margin-bottom: 80px;
    }

    .main-content {
        width: 420px;
    }

    .main-header {
        font-size: 50px;
        line-height: 1;
    }

    .main-content-text {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .main-img {
        width: 420px;
    }

    /* Footer */

    .footer {
        padding: 50px 0;
    }

    .footer-corypthing {
        width: 195px;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-logo .logo {
        font-size: 30px;
    }

    .footer-corypthing p {
        font-size: 14px;
    }

    .footer-widget-services {
        display: none;
    }

    .footer-widget-title {
        margin-bottom: 20px;
    }

}

// Tours

@media(max-width: 1199px) {

    .inner-page-tours {
        padding-bottom: 60px;
    }

    .inner-page-tours-header {
        margin-bottom: 40px;

        .main-header {
            font-size: 50px;
        }
    }

    .cards-row {

        .card-title-wrapper {
            height: 60px;
            padding: 0 20px;
        }
        .card-title {
            font-size: 24px;
        }

        .standart-card {
            width: 420px;
        }
        
        .wide-card {
            width: 495px;
        }
        
        .high-card {
            width: 345px;
        }

    }


}

// Tracking

@media(max-width: 1199px) {

    .inner-page-tracking {
        padding: 40px 0 60px;
    }

    .row-article-page {
        column-gap: 30px;
    }

    .article-page-nav-list {
        font-size: 18px;
    }

    .article-page-article {
        width: 570px;
    }

    .article-page-article h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .article-page-article img {
        margin: 30px 0;
    }

    .article-page-article p {
        font-size: 18px;
    }

}

//Contacts 

@media(max-width: 1199px) {
    .inner-page-contacts {
        padding: 40px 0 60px;
    }

    .contacts-header {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .contact-row {
        flex-direction: column;
    }

    .contact-info {
        display: flex;
        width: unset;
        column-gap: 30px;
        margin-bottom: 40px;
    }

    .contact-block {
        width: 420px;
    }

    .contact-block+.contact-block {
        margin-top: 0;
    }

    .contact-block-title {
        font-size: 24px;
    }
    
    .contact-block-body {
        font-size: 18px;
    }

    .contact-block-body iframe {
        width: 420px;
    }

    .form {
        width: 870px;
    }

}

