.inner-page {
    padding: 60px 0 100px;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #265847;
    background-image: url(./../img/header/header-small-bg.jpg);
    background-position: center;
    background-size: cover;
    color: #FFF;
}

.inner-page-tours-header {
    margin-bottom: 60px;
    text-align: center;
}

.extreme-color {
    background-color: #C1B19B;
}

.adventures-color {
    background-color: #66B0BE;
}

.tracking-color {
    background-color: #876F56;
}

.jungle-color {
    background-color: #27695E;
}